.navbar {
  padding: 2% 8%;
  background-color: #1f2937;
  color: #cdacf2;
}

.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar h2 {
  color: #fff;
}

button {
  background-color: #a855f7;
  color: #fff;
  border-radius: 5px;
  padding: 7px 9px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button:hover {
  background-color: #6b21a8;
}

button:active {
  scale: 0.94;
}

.nav-right {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #a0a0a0;
}
.nav-right h2 {
  text-align: center;
}

.navbar-bottom {
  background-color: #1f2937;
  display: flex;
  border: 1.5px solid #9ca3af;
  padding: 10px;
  border-radius: 9px;
}

.navbar-bottom input {
  width: 30%;
}
.nav-b-right {
  width: 70%;
  display: flex;
  justify-content: space-around;
}
