.navbar {
  padding: 2% 8%;
  background-color: #1f2937;
  color: #cdacf2;
}

.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-top h1 {
  color: #a855f7;
}

.navbar h2 {
  color: #fff;
}

button {
  background-color: #a855f7;
  color: #fff;
  border-radius: 5px;
  padding: 7px 9px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button:hover {
  background-color: #6b21a8;
}

button:active {
  scale: 0.94;
}

.nav-right {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #a0a0a0;
}

.nav-right h2 {
  text-align: center;
}

.navbar-bottom {
  margin-top: 2%;
  background-color: #1f2937;
  display: flex;
  align-items: center;
  border: 1.5px solid #9ca3af;
  padding: 10px;
  border-radius: 9px;
}

.nav-b-left {
  display: flex;
  align-items: center;
  gap: 2%;
  width: 30%;
  color: #fff;
}
.nav-b-left input {
  outline: none;
  border: none;
  padding: 10px 8px;
}
.nav-b-right {
  width: 70%;
  display: flex;
  justify-content: space-around;
}
.nav-b-right select {
  padding: 5px;
  outline: none;
  border: none;
  background-color: rgb(76, 76, 76);
  color: #fff;
}

.menu {
  display: none;
}

@media (max-width: 992px) {
  .nav-right {
    display: none;
  }
  .menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .line {
    height: 5px;
    background-color: #fff;
    width: 35px;
    transition: 0.4s ease;
  }

  .menu.open .line:nth-child(2) {
    display: none;
  }

  .menu.open .line:nth-child(1) {
    transform: rotate(-45deg) translateY(6px);
  }

  .menu.open .line:nth-child(3) {
    transform: rotate(45deg) translateY(-6px);
  }

  .showdata {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 75px;
    left: 0;
    width: 100%;
    background-color: #1f2937;
    padding: 30px;
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .showdata {
    top: 60px;
  }
}
