form {
  width: 30%;
  margin: 0 auto;
}
.Provider {
  color: #8ca3af;
}

.addBtn {
  padding: 1% 8%;
  display: flex;
  justify-content: center;
}

.addBtn button {
  padding: 10px 12px;
  font-size: 1rem;
}

.Provider textarea {
  padding: 7px 8px;
  border: none;
  outline: none;
  font-size: 1rem;
}

.Provider select {
  padding: 2% 8%;
  padding: 5px;
  outline: none;
  border: 1.5px solid #9ca3af;
  border-radius: 8px;
  background-color: black;
  color: #fff;
}

.Provider form {
  margin-top: 8px;
}

.rating i {
  color: #fec920;
}

input {
  outline: none;
  border: 1px solid grey;
  padding: 2px 3px;
}
