form {
  width: 30%;
  margin: 0 auto;
}
.Provider {
  /* text-align: center; */
}

.Provider textarea {
  padding: 7px 8px;
  border: none;
  outline: none;
  font-size: 1rem;
}

.Provider form{
  margin-top: 8px;
}

.rating i{
  color: #FEC920;
}

input{
  outline: none;
  border: 1px solid grey;
  padding: 2px 3px;
}
